



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

/* @font-face {
  font-family: OpenSans-Semibold;
  src: url('../fonts/JosefinSans/OpenSans-Semibold.ttf'); 
} */


@font-face {
  font-family: OpenSans-Semibold;
  src: url('../fonts/open-sans/OpenSans-Semibold.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin:0;
  font-family: OpenSans-Semibold, sans-serif;
  line-height: unset;
  /* overflow-y: hidden; */
}

/*---------------------------------------------*/
a {
  /* font-family: Ubuntu-Regular; */
  font-size: 18px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #1b3815;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: Ubuntu-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  display: block;
  outline: none;
  border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  display: block;
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #1b3815;}
input:-moz-placeholder { color: #1b3815;}
input::-moz-placeholder { color: #1b3815;}
input:-ms-input-placeholder { color: #1b3815;}

textarea::-webkit-input-placeholder { color: #1b3815;}
textarea:-moz-placeholder { color: #1b3815;}
textarea::-moz-placeholder { color: #1b3815;}
textarea:-ms-input-placeholder { color: #1b3815;}

.navbar.navbar-expand-md.mb-4.clear{
  background-color: #fff;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.4;
}

.txt1-two {
  font-size: 14px;
}

.txt2 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #57b846;
  line-height: 1.4;
}

.txt3 {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #57b846;
  line-height: 1.4;
  text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/


.label{
  font-family: Ubuntu-Bold;
  font-size: 13px;
  line-height: 1.4;
  text-transform: uppercase;
}


.limiter {
  width: 100%;
  margin: 0 auto;
}

.limiter.two {
  margin-left: -45px;
}

.container.login {
  padding: 40px 50px 0px 50px;
}

.container-login100 {
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #fff;
}

.wrap-login100 {
  width: 500px;
  position: relative;
}


/*==================================================================
[ Form ]*/

.login-title {
  display: flex;
}

img#waving-hand {
  width: 10%;
  height: 10%;
}


.login100-form {
  width: 100%;
  position: relative;
}

.login100-form-title {
  font-family: OpenSans-Semibold;
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  display: block;
  position: inherit;
  padding-bottom: 20px;
}

.login-two {
    border-radius: 3%;
    background-color: rgb(241, 242, 255);
    width: 87%;
}

.title-two {
      display: contents !important;
      font-size: 24px;
}

/*------------------------------------------------------------------
[ Input ]*/

/*.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 27px;
  position: relative;
  z-index: 1;
}*/

.input100 {
  font-size: 15px;
  color: #1b3815;
  line-height: 1.2;
  position: relative;
  display: block;
  width: 85%;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #c3c4d6;
  padding: 0 9px 0 9px;
}

.input100-two{
  width: 100%;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #ebebeb;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 33%;
  height: 36px;
  
  border-radius: 10px;

  /*font-family: Ubuntu-Bold;*/
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  /*text-transform: uppercase;*/

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-two {
  background-color: rgb(241, 242, 255);
  width: 57%;
  color: #000000;
  border: 1.5pt solid #007bff;
  font-family: OpenSans-Semibold;
}

.login100-form-btn:hover {
  background-color: #999999;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

/*.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 1000;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 14px;
  padding: 4px 25px 4px 10px;
  top: 64%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30%;
  pointer-events: none;

  font-family: Ubuntu-Bold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 1100;
  color: #c80000;
  font-size: 16px;
  top: 63%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
  left:64%;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}*/

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.dashbord-title {
    font-family: OpenSans-Semibold;
    color: #212529;
    line-height: 1.2;
    display: block;
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    padding-bottom: 15px;
}

.dashbord-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: -1px 12px;
    width: 58%;
    height: 30px;
    border-radius: 25px;
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    /* text-transform: uppercase; */
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.dashbord-btn-1{
  background-color: #0066ff;
  border-color: #0066ff;
}
.dashbord-btn-2{
  background-color: #4cd964;
  border-color: #4cd964;
}
.dashbord-btn-3{
  width: 64%;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-color{
  color: #fff;
}

.dashbord-btn-1:hover {
  background-color: #0066ff40;
  border-color: #0066ff40;
}

.dashbord-btn-2:hover {
  background-color: #4cd96470;
  border-color: #4cd96470;
}

.dashbord-btn-3:hover {
  background-color: #ffc10780;
  border-color: #ffc10780;
}

.detail.ag-bg-color {
    background-color: #0066ff4a;
}

.detail.immeuble-bg-color {
    background-color: #33cc6647;
}

.detail.gestionnaire-bg-color {
    background-color: #ffc10745;
}

.detail {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}


.detail-title {
    font-family: OpenSans-Semibold;
    line-height: 1.2;
    display: contents;
}

.detail-txt1{
  font-size: 12px;
}

.sub-content{
  font-family: Ubuntu-Regular;
  line-height: 1.4;
}

.fa.add {
    font-size: 14px;
    background-color: #fff;
    color: #0066ff;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
}

.fa.add.two {
    color: #4cd964;
}

.fa.add.tree {
    color: #ffc107;
}

.search {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #1b3815;
  line-height: 1.2;
  position: relative;
  display: block;
  width: 58%;
  height: 26px;
  background: #cccccc;
  border-radius: 5px;
  padding: 0 35px 0 35px;
}

.search-form {
  width: 317%;
  position: relative;
  text-align: -webkit-center;
}


/*--------------------------------------------*/
/*[table css]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.scroll-tab {
  overflow:scroll;
  height:100px;
}

.container-table100 {
  /*width: 95%;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table100 {
  width: 1010px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}

table thead tr {
  height: 60px;
  /*background: #36304a;*/
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
/*table td.l, table th.l {
  text-align: right;
}*/
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: right;
}


.table100-head th{
  font-family: OpenSans-Semibold;
  font-size: 18px;
  color: #212529;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
  border-top: 1pt solid #b3aeae;
  border-bottom: 1pt solid #c1c1c1;
}

tbody tr {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #212529;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 50px;
}

.column2 {
  width: 50px;
}

.column3 {
  width: 50px;
}

.column4 {
  width: 120px;
}

.column5 {
  width: 50px;
}

.column6 {
  width: 130px;
}

.copro-btn{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 23px;
    border-radius: 25px;
    font-family: Ubuntu-Bold;
    font-size: 14px;
    color: #fff;
    background-color: #0066ff;
}

.gest-btn {
    width: 15%;
    height: 28px;
    border-radius: 7px;
    font-family: Ubuntu-Bold;
}

.history-detail {
  font-family: OpenSans-Semibold;
  font-size: 13px;
}

.show-detail {
  font-family: Ubuntu-Bold;
  font-size: 14px;
}

.btn-link-hs {
  color: #0066ff;
}

.btn-link-hs:hover {
  color: #0066ff40;
}

.online {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #33cc66;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    color: #212529;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Status";
  }
  table tbody tr td:nth-child(3):before {
    content: "Numéro d'immeuble";
  }
  table tbody tr td:nth-child(4):before {
    content: "Adresse";
  }
  table tbody tr td:nth-child(5):before {
    content: "Copropriétaires";
  }
  table tbody tr td:nth-child(6):before {
    content: "Gestionnaire";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* -------------------------------------------- */
/* [Navbar] */
.navbar.navbar-expand-md.mb-4 {
  background-color: #0066ff;
  height: 11%;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 30px;
  border-radius: 25px;
  font-family: Ubuntu-Bold;
  font-size: 15px;
  background-color: #fff;
  line-height: 1.2;
  color: #0066ff;

}

.fa.add.ag {
  color: #fff;
  background-color: #0066ff;
}

.btn-add{
  color: #0066ff;
}

.brand {
  width: 15%;
}

.circle {
  display: block;
  position: absolute;
  width: 2%;
  height: 26px;
  border-radius: 25px;
  background-color: #d8d8d8;
  margin-top: -1%;
}

.rectangle {
  display: block;
  position: absolute;
  width: 7%;
  height: 15px;
  border-radius: 25px;
  background-color: #d8d8d8;
  margin-top: -7px;
  margin-left: 37px;
}

.item-link {
  color : #fff;
  font-family: OpenSans-Semibold;
}

.navbar-nav li+li::before {
  content: ">";
  display: inline-block;
  margin: 0 8px 5px;
  font-size: 20px;
  color : #fff;
  font-family: OpenSans-Semibold;
}

.navbar .dropdown-toggle, .navbar .dropdown-menu a {
  cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

@media (min-width: 767px) {
  .navbar .dropdown-toggle:not(.nav-link)::after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .5em;
      vertical-align: 0;
      border-bottom: .3em solid transparent;
      border-top: .3em solid transparent;
      border-left: .3em solid;
  }
}

/* -------------------------------------------- */
/* A G detail */

i.fa.fa-play.ag {
  color: #0066ff;
}

.head-title {
  display: flex;
  font-family: OpenSans-Semibold;
  font-size: 24px;
  color: #212529;
  line-height: 1.2;
  position: relative;
  width: auto;
  top: 0;
  left: 0;
  padding-bottom: 15px;
}

.id-title {
  font-family: OpenSans-Semibold;
  font-size: 16px;
  color: #949494;
  padding-bottom: 15px;
}

.mod {
  color: #0066ff;
}

.btn-add-res {
    display: -webkit-inline-box;
    background-color: #0066ff;
    padding: 6px 26px 6px;
    border-radius: 7px;
}

.res {
  color: #fff !important;
}

.bg-res {
  background-color: #fff;
}

.description-res {
  display: grid;
}

.bgcolor {
 display: flex;
 background-color: #66666633;
 height: 90px;
 padding: 23px 13px 23px 13px;
}

.align-c {
  text-align: -webkit-center;
}

.ordre-btn {
  width: 27%;
  height: 28px;
  border-radius: 7px;
  font-family: Ubuntu-Bold;
}

span.id_ordre {
  color: #949494;
  font-family: OpenSans-Semibold;
  font-size: 36px;
}

button.via-btn {
  width: 30%;
  padding-bottom: 3px;
}

